@{
    ViewBag.Title = "Select Seat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper-md">
    <div class="panel panel-primary">
        <div class="panel-heading">Allocate seat</div>
        <div class="panel-body">
            <div class="row select-user-header">
                <span>Select Employee:</span>            
            </div>
            <div class="row">
                <div class="action-ribbon">
                    <span class="action-button" data-toggle="tooltip" data-placement="top" title="Sort by name ascending"><i class="fa fa-sort-alpha-asc"></i></span>
                    <span class="action-button" data-toggle="tooltip" data-placement="top" title="Sort by name descending"><i class="fa fa-sort-alpha-desc"></i></span>
                    <span class="action-button" data-toggle="tooltip" data-placement="top" title="Filter admins"><i class="fa fa-user"></i></span>
                    <span class="action-button" data-toggle="tooltip" data-placement="top" title="Filter managers"><i class="fa fa-user-md"></i></span>
                    <span class="action-button" data-toggle="tooltip" data-placement="top" title="Show all employee"><i class="fa fa-users"></i></span>
                    <input type="text" class="filter-user-text" id="txtFilterEmployee" placeholder="Filter Employee" />
                </div>
            </div>
            <div class="row m-t">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="user-thumbnail cursor-pointer select-entity">
                        <span class="thumb-lg avatar m-l-lg m-t-sm m-b-sm">
                            <img src="@Url.Content(" ~/img/profile-placeholder.jpg")" alt="">
                        </span>
                        <div class="caption">
                            <h4>Ramesh Kumar ...</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="user-thumbnail cursor-pointer select-entity">
                        <span class="thumb-lg avatar m-l-lg m-t-sm m-b-sm">
                            <img src="@Url.Content(" ~/img/profile-placeholder.jpg")" alt="">
                        </span>
                        <div class="caption">
                            <h4>Ramesh Kumar ...</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="user-thumbnail cursor-pointer select-entity">
                        <span class="thumb-lg avatar m-l-lg m-t-sm m-b-sm">
                            <img src="@Url.Content(" ~/img/profile-placeholder.jpg")" alt="">
                        </span>
                        <div class="caption">
                            <h4>Ramesh Kumar ...</h4>
                        </div>
                    </div>
                </div>   <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="user-thumbnail cursor-pointer select-entity">
                        <span class="thumb-lg avatar m-l-lg m-t-sm m-b-sm">
                            <img src="@Url.Content("~/img/profile-placeholder.jpg")" alt="">
                        </span>
                        <div class="caption">
                            <h4>Ramesh Kumar ...</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="user-thumbnail cursor-pointer select-entity">
                        <span class="thumb-lg avatar m-l-lg m-t-sm m-b-sm">
                            <img src="@Url.Content("~/img/profile-placeholder.jpg")" alt="">
                        </span>
                        <div class="caption">
                            <h4>Ramesh Kumar ...</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="user-thumbnail cursor-pointer select-entity">
                        <span class="thumb-lg avatar m-l-lg m-t-sm m-b-sm">
                            <img src="@Url.Content("~/img/profile-placeholder.jpg")" alt="">
                        </span>
                        <div class="caption">
                            <h4>Ramesh Kumar ...</h4>
                        </div>
                    </div>
                </div>   <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="user-thumbnail cursor-pointer select-entity">
                        <span class="thumb-lg avatar m-l-lg m-t-sm m-b-sm">
                            <img src="@Url.Content("~/img/profile-placeholder.jpg")" alt="">
                        </span>
                        <div class="caption">
                            <h4>Ramesh Kumar ...</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="user-thumbnail cursor-pointer select-entity">
                        <span class="thumb-lg avatar m-l-lg m-t-sm m-b-sm">
                            <img src="@Url.Content("~/img/profile-placeholder.jpg")" alt="">
                        </span>
                        <div class="caption">
                            <h4>Ramesh Kumar ...</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="user-thumbnail cursor-pointer select-entity">
                        <span class="thumb-lg avatar m-l-lg m-t-sm m-b-sm">
                            <img src="@Url.Content("~/img/profile-placeholder.jpg")" alt="">
                        </span>
                        <div class="caption">
                            <h4>Ramesh Kumar ...</h4>
                        </div>
                    </div>
                </div>
            </div> <!-- Userslist ends -->
            <div class="row"></div>
            <div class="row select-user-header ">
                Select Seat:           
            </div>
            <div class="row">
                <div class="action-ribbon">
                    <span class="action-button" data-toggle="tooltip" data-placement="top" title="Sort by name ascending"><i class="fa fa-sort-alpha-asc"></i></span>
                    <span class="action-button" data-toggle="tooltip" data-placement="top" title="Sort by name descending"><i class="fa fa-sort-alpha-desc"></i></span>
                </div>
            </div>
            <div class="row m-t">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="thumbnail bg-testlist cursor-pointer select-entity">
                            <span class="" style="vertical-align:top;">Hindi</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-link"></i>Allocate seat</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $(document).ready(function () {
            
        });
    </script>
}
